<suite name="API TestSuite" parallel="false">
    <listeners>
        <listener class-name="utils.ExtentReporter"/>
    </listeners>

    <test name="Product Tests">
        <classes>
            <class name="testcases.ProductTests"/>
        </classes>
    </test>
    <test name="User Tests">
        <classes>
            <class name="testcases.UserTests"/>
        </classes>
    </test>
    <test name="Cart Tests">
        <classes>
            <class name="testcases.CartTests"/>
        </classes>
    </test>
    <test name="Auth Tests">
        <classes>
            <class name="testcases.LoginTests"/>
        </classes>
    </test>
    <test name="Schema Tests">
        <classes>
            <class name="testcases.SchemaTests"/>
        </classes>
    </test>
</suite>
